[submodule "docker-hub-rate-limit-exporter"]
	path = docker-hub-rate-limit-exporter
	url = https://github.com/shpwrck/docker-hub-rate-limit-exporter
[submodule "k8s-await-election"]
	path = k8s-await-election
	url = git@github.com:shpwrck/k8s-await-election.git
