[submodule "episode_0000/k8s-await-election"]
	path = episode_0000/k8s-await-election
	url = git@github.com:shpwrck/k8s-await-election.git
[submodule "dhrle"]
	path = episode_0001/docker-hub-rate-limit-exporter
	url = git@github.com:shpwrck/docker-hub-rate-limit-exporter.git
[submodule "episode_0002/krew-index"]
	path = episode_0002/krew-index
	url = git@github.com:shpwrck/krew-index.git
[submodule "episode_0002/kubectl-blame"]
	path = episode_0002/kubectl-blame
	url = git@github.com:shpwrck/kubectl-blame.git
[submodule "episode_0002/k8s-mirror"]
	path = episode_0002/k8s-mirror
	url = git@github.com:shpwrck/k8s-mirror.git
[submodule "episode_0002/kubectl-honk"]
	path = episode_0002/kubectl-honk
	url = git@github.com:shpwrck/kubectl-honk.git
[submodule "episode_0003/IAKV"]
	path = episode_0003/IAKV
	url = https://github.com/shpwrck/IAKV
[submodule "episode_0000/nixery"]
	path = episode_0000/nixery
	url = git@github.com:shpwrck/nixery.git
