[submodule "docker-hub-rate-limit-exporter"]
	path = docker-hub-rate-limit-exporter
	url = https://github.com/shpwrck/docker-hub-rate-limit-exporter
[submodule "kube-secrets-init"]
	path = kube-secrets-init
	url = git@github.com:shpwrck/kube-secrets-init.git
